* {
    box-sizing: border-box;
    margin: 0;
}

.container-contain {
    min-width: 700px;
    min-height: 700px;
    overflow: hidden;
    
}

.container {
    display: grid;
   

}   

.box{
    border: 1px solid;

}

.box.active{
    background-color: black;
}
